.container {
    display: flex;
    width: 100%;
    height: 120vh;
    margin: 4rem 0;
  }
  
  .title {
    display: flex;
    margin-top: 8rem;
  }
  
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-top: 2rem;
    /* font-family: "Roboto", sans-serif; */
    color: black;
  }

  .btn{
    display: flex;
    margin-top: 5rem;
  }