::-webkit-scrollbar {
  width: 1.5vh;
}

::-webkit-scrollbar-track {
  background: #e6f4f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(57, 133, 203, 1) 0%,
    rgba(0, 39, 96, 1) 100%
  );
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border-right: 2px solid #e6f4f1;
  border-left: 2px solid #e6f4f1;
  transition: 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1150ad;
}

.links {
  /* display: flex;
  width: 100px;
  height: 50px; */
  text-decoration: none;
}

.flight{
    display:flex;
    justify-content: center;
}

.detail {
  /* display: flex; */
  flex-direction: column;
  /* padding: 10px; */
  margin-left: 25%;
  margin-top: 100px;
  margin-bottom: 50px;
  /* background-color: #e6f4f1; */
  color: black;
  /* width: 700px; */
  width: 52%;
  max-height: 400px;
  border-radius: 10px;
  /* border: 2px solid #c9dbd659; */
  overflow: hidden;
  font-weight: 500;
  transition: .5s ease;
}

.detail:hover{
    transform: scale(1.1);
    /* margin-bottom: 100px; */
}

.btnHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 3px;
  width: 150px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 0px;
  color: rgba(252, 93, 19, 1);
  background: rgb(255, 181, 146);
  border: 2px solid rgba(252, 93, 19, 1);
  /* background:#DEA01E; */
  cursor: pointer;
  transition: 0.5s ease;
}

.btnHome:hover {
  transform: scale(1.1);
  color: white;
  background: rgba(252, 93, 19, 1);
}

.divA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
  width: 97%;
  height: 100px;
  /* border-bottom: 2px solid #bcc9c6; */
  /* max-width: 450px; */

}

.detail .input {
  display: none;
}

.detail .label {
  position: relative;
  /* font-weight: 600; */
  background: #e6f4f1;
  /* box-shadow: 0 5px 11px 0 rgb(0, 0, 0, 0.1), 0 4px 11px 0 rgb(0, 0, 0, 0.08); */
  color: black;
  /* font-size: 30px; */
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  /* padding: 15px 10px; */
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  z-index: 1;
}

.detail .label:after {
  content: "";
  position: absolute;
  right: 3vh;
  top: 43%;
  width: 20px;
  height: 20px;
  background: url("arrow.svg") no-repeat 0 0;
  transition: all 0.5s ease;
}

.detail .input:checked + .label:after {
  transform: rotate(90deg);
}

.btnDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  width: 50px;
  height: 40px;
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: rgba(219, 218, 218, 0.801);
}

.info {
  display: flex;
  /* flex-direction: column; */
  /* padding: 10px; */
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  max-height: 0px;
  overflow: hidden;
  border-radius: 5px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.detail input:checked ~ .info {
    max-height: 300px;
    padding-bottom: 25px;
    background: rgba(181, 217, 250, 0.171);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 5px 11px 0 rgb(0, 0, 0, 0.1), 0 4px 11px 0 rgb(0, 0, 0, 0.08);
    opacity: 1;
    top: 0;
    margin-bottom: 100px;
  }

  .info div {
    margin-bottom: 10px;
    /* padding: 15px 15px 0; */
    color: black;
  }
  
  .info div {
    padding-left: 15px;
    padding-right: 15px;
  } 


.divInfo1{
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* gap: 60%;  */
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 18rem;
  border-right: 2px solid #c9dbd659;
  /* background-color: #1150ad; */
  }

.divInfo2{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: 18rem;
  /* background-color: #addb07; */
}
.logo {
  display: flex;
  width: 80px;
  max-width: 100px;
  height: 60px;
  border-radius: 10px;
}

.airline {
  display: flex;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}

.departureDate {
  display: flex;
  margin-right: 200px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
.arrivalHour {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.departureHour {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.arrivalDate {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.description {
  display: flex;
  align-items: center;
  width: 25vh;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: #c9dbd659;
  font-family: "Roboto", sans-serif;
  transition: .5s ease;
}

.description:hover{
  width: 61.8vh;
  height: 5rem;
}

.destination {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.durationEstimated {
  display: flex;
  transition: .5s ease;
}

.durationEstimated:hover{
  transform: scale(1.2);
}

.origin {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.price {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.divPrices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 25%;
  margin-top: 0px;
  background-color: #e6f4f1;
  color: black;
  width: 52%;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #c9dbd659;
  margin-bottom: 200px;
}

.logoPrice {
  width: 100px;
  max-width: 120px;
  height: 70px;
  border-radius: 10px;
}

.airlinePrice {
  display: flex;
  margin-right: 150px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.priceP {
  display: flex;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  margin-left: 20px;
  width: 150px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 0px;
  color: white;
  background: linear-gradient(
    279deg,
    rgba(252, 93, 19, 1) 0%,
    rgba(182, 68, 19, 1) 100%
  );
  cursor: pointer;
  transition: 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
  background: linear-gradient(
    279deg,
    rgb(253, 107, 39) 0%,
    rgb(253, 107, 39) 100%
  );
}


/* DETAIL RESPONSIVE */

@media (max-width: 450px){
  .btnHome{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .detail{
    width: 81%;
    margin-left: 10%;
    /* background-color: #1150ad; */
    max-height: 400px;
    margin-top: 50px;
    margin-bottom: 4rem;

  }

  .departureDate{
    margin-right: 20px;
  }

  .durationEstimated{
    font-size: 13px;
  }

  .detail .label:after {
    right: 1vh;
  }

  .divPrices{
    width: 81%;
    margin-left: 10%;
    max-height: 400px;
    /* background-color: #1150ad; */
  }

  .airlinePrice{
    margin-right: 10px;
    font-size: 14px;
  }

  .logoPrice{
    width: 80px;
    max-width: 100px;
    height: 60px;
  }

  .priceP{
    margin-left: 0px;
    font-size: 13px;
  }

  .btn{
    font-size: 12px;
    font-weight: 400;
  }
}