@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Rubik', sans-serif; */

.container_ticket {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  justify-items: center;
}

.ticket_container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.filter_container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

@media (max-width: 450px) {
  .container_ticket {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    justify-items: center;
    margin-bottom: 3rem;
  }

  .ticket_container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .filter_container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main_container_dark {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #121212; 
}

.textColor {
  color: black;
  font-family: "Roboto", sans-serif;
}
.textColor_dark {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.paginate_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.7rem;
  margin: 1rem 0 1rem 0;
}
.paginate_container_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.7rem;
  margin: 1rem 0 1rem 0;
}

.li_numbers {
  list-style: none;
  padding: 0.7rem;
}

.numberBtn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  background-color: #3985cb;
  border-radius: 50%;
  border: none;
  border: 1px solid #3985cb;
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
}
.numberBtn_dark {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  background-color: #3985cb;
  border-radius: 50%;
  border: none;
  border: 1px solid #3985cb;
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
}
.numberBtn_dark:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.numberBtn:hover {
  color: black;
  background-color: transparent;
}

.btn {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  border: 1px solid #3985cb;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn_dark {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  border: 1px solid #3985cb;
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn_dark:hover {
  color: rgb(255, 255, 255);
  background-color: #3985cb;
}
.btn:hover {
  color: black;
  background-color: #3985cb;
}

#btns_paginate {
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  width: 5rem;
  height: 2rem;
  border-bottom: 1px solid #3985cb;
  border-radius: 0px;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}
#btns_paginate_dark {
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  width: 5rem;
  height: 2rem;
  border-bottom: 1px solid #3985cb;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease;
}
#btns_paginate_dark:hover {
  border: none;
  border-bottom: 1px solid #3985cb;
  color: white;
  background-color: #3985cb;
  border-radius: 8px;
}

#btns_paginate:hover {
  border: none;
  border-bottom: 1px solid #3985cb;
  color: white;
  background-color: #3985cb;
  border-radius: 8px;
}
.slider {
  color: white;
}
