@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");



.favs_containers {
    margin-top: 3.4rem;
    height: 100vh;
}

.favs_container_dark {
    margin-top: 3.4rem;
    height: 100vh;
    background-color: #121212;
}

.favs_container_dark .h1 {
    color: #FFFFFF;
    padding-top: 3rem;
    margin-top: 2rem;
    font-family: 'Rubik', sans-serif; 
}

.favs_containers h1 {
    padding-top: 3rem;
    margin-top: 2rem;
    font-family: 'Rubik', sans-serif;    
}

.empty_list{
    width: 100%;
    height: 100vh;
}

.empty_list_dark{
    width: 100%;
    height: 100vh;
    background-color: #121212;
}

.h1Em {
    margin-top: 0rem;
    padding-top: 2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
}

.h1Em_dark {
    margin-top: 0rem;
    padding-top: 2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 2.6rem;
    color: white;
}

/* .empty_list .img_empty {
    width: 26rem;
    height: 350px;
} */

.favs_display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
}

.favs_display_dark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    background-color: #121212;
}

.favs_display h1 {
    padding-top: 2rem;
    margin-top: 2rem;
    font-family: 'Rubik', sans-serif; 
}

.img_empty {
    width: 40rem;
    height: 350px;
    margin-top: 1rem;
    padding: 1rem;
}

.img_empty_dark{
    width: 40rem;
    height: 350px;
    margin-top: 1rem;
    padding: 1rem;
}

/* FAV RESPONSIVE */

@media (max-width: 450px) {
    .favs_containers{
        height: 50vh;
        margin-top: 0px;
    }
    .favs_container_dark{
        margin: 0;
        padding: 0;
        margin-top: 0px;
        height: 102vh;
        width: 100%;
        background-color: #121212;
    }
    .favs_display{
        flex-direction: column;
        width: 100%;
        height: 50vh;
        margin-top: 0rem;
        padding-bottom: 0px;
    }
    .favs_display_dark{
        flex-direction: column;
        width: 100%;
        height: 50vh;
        margin-top: 0rem;
        padding-bottom: 0px;
    }


    .empty_list{
        width: 100%;
        height: 82vh;
    }

    .empty_list_dark{
        width: 100%;
        height: 50vh;
        background-color: #121212;
    }

    .h1Em{
        color: black;
    }

    .h1Em_dark{
        color: white;
    }
    

    .img_empty{
        width: 23rem;
        height: 250px;
    }

    .img_empty_dark{
        width: 23rem;
        height: 250px;
        margin-top: 1rem;
        padding: 1rem;
    }


}