nav {
  background-color: #3985cb;
  padding-left: 150px;
  padding-top: 17px;
  padding-bottom: 16px;
  margin: 0;
  z-index: 500;
  width: 100%;
  height: 85px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 700;
}

.logo {
  background-image: url("./logo.png");
}

img {
  height: 60px;
  padding: 0;
  /* margin-left: 600px; */
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  list-style: none;
  /* padding: 10px 0; */
  margin-right: 230px;
}

.navLink {
  text-decoration: none;
  width: 100px;
  color: white;
  margin-left: 80px;
}

.navLink:hover {
  color: #dea01e;
}

.cart {
  filter: invert(100%);
  width: 1.5rem;
  height: 50%;
  filter: invert(100%);
  margin-left: 1rem;
}

/* .cart_container:hover {
  background-color: #dea01e;
} */

.price {
  padding-left: .7rem;
  color: #FFFFFF;
  font-size: 1.1rem;
}

.bkg {
  margin-left: 80px;
  /* border: 2px solid black; */
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bkg:hover {
  background-color: #e6f4f146;
  border-radius: 50%;
}

.navLink_logout {
  color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
  width: 100px;
  color: white;
  margin-left: 80px;
  background-color: transparent;
}

.navLink_logout:hover {
  color: #dea01e;
}