.nav_container {
  background-color: #3985cb;
  margin: 0;
  z-index: 500;
  width: 100%;
  min-height: 8vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 700;
}
.imgProfile {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  /* margin-top: 1rem; */
}
.imgProfile_dark {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  /* margin-top: 1rem; */
}
.nav_container_dark {
  background-color: #121212;
  margin: 0;
  z-index: 500;
  width: 100%;
  min-height: 8vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 700;
}

.logoImg {
  height: 52px;
  padding: 0;
}

.navUl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 68%;
}
.navUl_dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 68%;
}

.navLink {
  text-decoration: none;
  width: 100px;
  color: white;
  margin-left: 80px;
}
.navLink_dark {
  text-decoration: none;
  width: 100px;
  color: white;
  margin-left: 80px;
}

.navLink:hover {
  color: #00283d;
}
.navLink_dark:hover {
  color: #186caf;
}
.cart {
  filter: invert(100%);
  width: 1.5rem;
  height: 50%;
  filter: invert(100%);
  margin-left: 1rem;
}

.price {
  position: absolute;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.1rem;
}

.numCart {
  margin-left: 115px;
  margin-top: -32px;
  position: relative;
  background-color: rgb(150, 36, 151);
  border-radius: 50%;
  height: 20px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numCart_dark {
  margin-left: 115px;
  margin-top: -32px;
  position: relative;
  background-color: rgb(150, 36, 151);
  border-radius: 50%;
  height: 20px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bkg {
  margin-left: 80px;
  /* border: 2px solid black; */
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bkg:hover {
  background-color: #e6f4f146;
  border-radius: 50%;
}
.navLink_logout {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  width: 100px;
  color: white;
  margin-left: 80px;
  background-color: transparent;
}

.navLink_logout:hover {
  color: #00283d;
}
/*
NAV BUTTON CSS
*/
.toggle {
  position: relative;
  width: 45px;
  height: 45px;
  background: #002660a5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.58);
  border-radius: 8px;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle_dark {
  position: relative;
  width: 45px;
  height: 45px;
  background: #002660a5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.58);
  border-radius: 8px;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #ffffff;
  border-radius: 8px;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-12px);
  width: 20px;
  left: 8px;
}

.toggle span:nth-child(2) {
  transform: translateY(12px);
  width: 20px;
  left: 8px;
}
.toggle.active span:nth-child(1) {
  width: 28px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}
.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 28px;
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(100px);
}
/*
NAV BUTTON CSS
*/
@media screen and (max-width: 900px) {
  .navUl {
    display: none;
    justify-content: space-around;
    list-style: none;
    width: 40%;
  }
  .navUl_dark {
    display: none;
    justify-content: space-around;
    list-style: none;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .navUl {
    display: none;
    justify-content: space-around;
    list-style: none;
    width: 55%;
  }
  .navUl_dark {
     display: none;
    justify-content: space-around;
    list-style: none;
    width: 55%;
  }
}
@media screen and (max-width: 1020px) {
  body {
    overflow-x: hidden;
  }
  .navUl {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #002660f5;

    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .navUl_dark {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #002660f5;

    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .navLink {
    margin: 0px;
  }
  .navLink_dark {
    margin: 0px;
  }
  .cart {
    height: 80%;
  }
  .numCart_dark {
    margin-left: 30px;
  }
  .numCart {
    margin-left: 30px;
  }
  .toggle {
    display: flex;
  }
}
.navActive {
  transform: translateX(0%);
  display: flex;
}
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 450px) {
  .nav_container {
    width: 100%;
  }
  .nav_container_dark {
    width: 100%;
  }
  .toggle_dark {
    position: relative;
    width: 45px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.58);
    border-radius: 8px;
    display: flex;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  .toggle_dark span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #3985cb;
    border-radius: 8px;
    transition: 0.5s;
  }
  .toggle_dark span:nth-child(1) {
    transform: translateY(-12px);
    width: 20px;
    left: 8px;
  }

  .toggle_dark span:nth-child(2) {
    transform: translateY(12px);
    width: 20px;
    left: 8px;
  }
  .toggle_dark.active span:nth-child(1) {
    width: 28px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
  }
  .toggle_dark.active span:nth-child(2) {
    transform: translateY(0px) rotate(315deg);
    width: 28px;
    transition-delay: 0.25s;
  }

  .toggle_dark.active span:nth-child(3) {
    transform: translateX(100px);
  }
  .navLink_logout {
    margin-left: 0;
  }
}
