.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 5rem;
    height: 100%;
}

.title_orders {
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;  
    padding: 2.5rem 0;
}

.card_container {
    width: 52rem;
    padding: 2rem;
    text-align-last: center;
    margin-bottom: 2rem;
    overflow: visible !important;
}

.id_container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}

.empty_order {
    height: 100%;
}

.empty_title {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;  
    padding: 3rem 0;
}

.img_empty {
    width: 30rem;
    height: 100%;
    padding-bottom: 1rem;
}

.subtitles_orders {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.moreinfo_subtitles {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
}

.chart_container {
    width: 42rem;
    height: 100%;
}