/* .inputSearch {
    font-size: 15px;
    color: #DEA01E;
    border: none;
    height: 2.5rem;
    width: 18rem;
    font-family: "Raleway", sans-serif;
    padding-left: 15px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: white;
    border: 2px solid #E6F4F1;
  }
  .inputSearch:focus {
    outline: none;
    font-weight: 900;
  }
  .btnSearch {
    margin: 0 1px;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #DEA01E;
  }
  .btnSearch:hover {
    background: #daa93f;
    color: white;
  }
  
  .inputSearch:hover {
    background-color: #E6F4F1;
    color: black;
  } */

/* ----------NEW------ */

  .container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 2rem;
}

.form{
    width: 15%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    background: none;
    color: rgb(61, 61, 61);
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.form .name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    
}

.form .name:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(73, 136, 252);
    transform: translateX(-100%);
    transition: all .3s ease;
}

.nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all .3s ease;
    color: rgb(121, 121, 121);
}

.form input:focus + .name .nomb,
.form input:valid + .name .nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(0, 89, 255);
}

.form input:focus + .name:after,
.form input:valid + .name:after{
    transform: translateX(0%);
}

.btn {
    /* margin: 0 1px; */
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(73, 136, 252);
    color: white;
    transition: .3s ease;
  }
  .btn:hover {
    background: rgb(25, 105, 253);
  }



