@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    text-decoration: none;
}

.cards {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.cards_dark {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards_item {
    width: 50vw;
    padding: 1rem;
    list-style: none;
}

.cards_item_dark {
    width: 50vw;
    padding: 1rem;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02),
    0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03),
    0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    border-radius: 2%;
}

.card_dark {
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #181818;
    background-clip: border-box;
    border-radius: 0.25rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 2%;
    /* border: 1px solid #5f5f5f; */
}

.card_image img {
    width: 6rem;
    height: 100%;
}

.btn {
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    display: block;
    width: 100%;
    cursor: pointer;
    color: #121212;
    background-color: #eb7d08;
    border: 1px solid #eb7d08;
}

.btn_dark { 
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #c26400;
    color: #c26400;
    transition: all .2s ease-in-out;
}

.btn_dark:hover {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: white;
    border: 1px solid #c26400;
    background-color: #c26400;
}

.btn:hover {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.card_content {
    padding: 1rem;
}

.card_title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.card_title_dark {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.card_text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.card_text_dark {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 18rem;
    height: 8rem;
    vertical-align: middle;
}

.card_desinfo {
    color: black;
}

.card_desinfo_dark {
    color: #FFFFFF;
}

.button{
    background-color: #3985CB;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 18.5px;
    border-radius: 50%;
    font-size: 20px;
}
.propiedades {
    color:black;
    position: absolute;
    padding: none;
    display: none;
}
.propiedades .a{
     /* background-color: #f9f9f9; */
    background-color:#3985CB;
    width: 220%;
    margin: 0;
    
}
.propiedades:hover{
    background-color: white;
}

.info:hover .propiedades{
    display: block;
}
.info{
    position: absolute;
    margin: 0% 0% 0% 45%;
}

/* TICKET RESPONSIVE */

@media (max-width: 450px){
    .cards{
        width: 100%;
    }
    .cards_item{
        width: 90%;
        /* background-color: #3985CB; */
        /* border: 1px solid #121212; */
    }
    .button{
        display: none;
    }
}
