/* -----GENERAL------ */

.container{
    display: flex;
    margin-top: 4%;
    width: 100%;
    height: 120vh;
    background-color: #E6F4F1;
}
.container_dark {
  display: flex;
  margin-top: 4%;
  width: 100%;
  height: 120vh;
  background-color: #121212f9;
}
  
  
  ul{
    list-style-type: none;
    text-decoration: none;
  }
  
  .link{
    text-decoration: none;
  }

  
  .infoContainer{
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .infoContainer_dark{
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
  }

  .title, .text{
    color: #002760;
  }
  .title_dark, .text_dark {
    color: #3985cb;
  }

  .info{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    font-weight: 100;
    background-color: #3985CB;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 10px;
  }
  
  .info .h4{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid white;
  }

  
  