.mensaje{
    margin-top: 20%;
    font-size: 30px;
    color:#002460 ;
    background-color: transparent;
}
.fondo{
    height: 100vh;
    background-color: #d2e9ff; 
    z-index:1000 ;
    position: absolute;
    width: 100vw;
}
.fondo h3{
    color: #002460;
    padding: 10px;
}
.tainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    top: 10%;
}
.message {
  font-size: 35px;
}
.tainer .load{
    width: 200px;
    height: 200px;
    /* border: solid 10px ; */
    border-top: solid 10px #002460;
    border-radius: 50%;    
    animation: load .8s linear infinite;
}
@keyframes load{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tainer .message{
    position: absolute;
    color: #1D3557;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: message 1s alternate infinite ease-in-out;
}
@keyframes message {
    0%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}